<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="mt-5">Dashboard</h1>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('my_videos') }}">My Videos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('my_comments') }}">My Comments</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('my_likes') }}">My Likes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('my_saved') }}">My Saved</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('upload_video') }}">Upload Video</a>
        </li>
    </ul>
    <a href="{{ url_for('logout') }}" class="btn btn-danger mt-3">Logout</a>
</div>
</body>
</html>
